{% extends 'base.html' %}
 
{% block title %}
Main page
{% endblock %}

{% block body %}
<hr class="featurette-divider">
<hr class="featurette-divider">
<hr class="featurette-divider">
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Home furniture</h2>
        <p>Here you can get acquainted with the catalog of furniture for the house.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Office furniture</h2>
        <p>Office furniture is presented here. Everything you need for a comfortable work!</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Garden furniture</h2>
        <p>Sun beds, garden swings, barbecue area - here you will find everything for your garden.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div>
    </div>
</div>
    <hr class="featurette-divider">
{% endblock %}